.spacer {
  flex: 1 1 auto; 
}

.site-title {
    font-size: var(--app-font-size-medium);
    font-weight: 500;
    cursor: pointer;
}

.current-datetime {
    font-size: var(--app-font-size-small);
    font-weight: 400;
}